.description {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}

.recipe-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

a {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 15rem;
  text-align: center;
}

a:hover {
  color: #000;
}

.recipe-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ingredients-list {
  padding: 20px;
  border: #999 1px thick;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.instructions {
  padding: 20px;
  border: #999 1px thick;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.back-link {
  display: inline-block;
}